<mat-card class="dashboard-card mat-elevation-z15">
  <mat-card-header>
    <div class="with-icon">
      <mat-icon
        aria-hidden="false"
        aria-label="dashboard icon"
        fontIcon="dashboard"
      ></mat-icon>
      {{ title }}
    </div>
  </mat-card-header>
  <mat-card-content>
    <mat-grid-list cols="4" rowHeight="180px">
      <mat-grid-tile *ngFor="let i of [1, 2, 3, 4]">
        <mat-card class="mat-elevation-z8">
          <mat-card-content>
            <img
              mat-card-image
              src="../../../assets/images/img1.jpg"
              alt="Photo of a Shiba Inu"
              width="60%"
              height="80px"
            />
            <h4>Image caps</h4>
            <p>
              This is a wider card with supporting text below as a natural
              lead-in to additional content.
            </p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
