table {
  width: 100%;
}
.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.margin10{
  margin: 10px;
}

.roundImg{
  border-radius: 50%;
  border: 1px solid lightblue;
}
